@model IEnumerable<HotelAPP.Domain.Entities.Room>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h3>Список комнат</h3>

    @*<p>
        <a asp-action="Edit" class="btn">Создать</a>
    </p>*@
    <hr />

    <table>
        <tr>
            <th>#</th>
            <th>Вместимость</th>
            <th>Комфортность</th>
            <th>Стоимость за 1 ночь</th>
            <th>Вид</th>
        </tr>
        @foreach (var room in Model)
        {
    <tr>
        <td>@room.Id</td>
        <td>@room.Capacity</td>
        <td>@room.Comfort</td>
        <td>@room.Price</td>
        <td>@room.ImageUrl</td>
        <td>
            @*<a asp-action="Details" asp-route-id="@employee.Id" asp-route="default"> *@
            <a asp-action="Details" asp-route-id="@room.Id">
                <button type="submit">
                    <i class="fa fa-trash-o text-danger">Инфо</i>
                </button>
            </a>
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@room.Id">
                <button type="submit">
                    <i class="fa fa-trash-o text-danger">Редактировать</i>
                </button>
            </a>
        </td>
        <td>
            <form asp-action="DeleteConfirmed" asp-route-id="@room.Id">
                <button type="submit">
                    <i class="fa fa-trash-o text-danger">Удалить</i>
                </button>
            </form>
        </td>
        <td><a asp-action="Edit" asp-route-id="@room.Id">Добавить</a></td>
        <td><a asp-controller="Booking" asp-action="Index">Забронировать</a></td>
    </tr>
        }
    </table>
</div>

